/* Home CSS */
body {
    background: url('https://cdn.hipwallpaper.com/m/21/24/IX1bjV.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.navBrand {
font-size: 40px !important;
margin-left: 55px;
font-family: 'Big Shoulders Inline Display', cursive;
}
.nav-item {
    font-family: 'Big Shoulders Inline Display', cursive;
}

.social {
    height: 30px; 
    width:40px;
}
h1 {

    font-family: 'Big Shoulders Inline Display', cursive;
}

.card1 {
    
    font-family: 'Big Shoulders Inline Display', cursive;
}


.container{
    font-family: 'Raleway', sans-serif;
}
.img-fluid{
    width:78%;
}

.col-9{
    font-weight: bolder;
    font-family:'Raleway';
    font-size: large;
}

/* Porfolio CSS */

/* All captions have same id*/
.Caption{
    font-family:'Raleway';
    text-align: center;

}

.porfolio-cointaner{
    align-content: center;
}

/* All image have the same Id*/
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.Captions {
    font-family: 'Big Shoulders Inline Display', cursive;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
}


/* Contact CSS*/

.message{
    margin:20px;
}  
.container-contact{
    font-family: 'Big Shoulders Inline Display', cursive;
    align-content: center;
}